	.right{
		margin: 0 auto;
		width: 1090px;
		/* margin-left: 350px; */
	}
	
	.right h2{
		padding: 5px 0 5px 15px;
		border-bottom: 1px solid #eee;
		color: blue;
	}
	
	.footer{
		padding: 10px 0 5px 15px;
		border-top:1px solid #eee;
	}
	
	.footer p{
		margin-top: 10px;
	}
	
	.wrap {
		width: 800px;
		height: 600px;
		margin: 10px auto;
		position: relative;
	}
	
	#canvas1 {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;
	}
	
	#canvas2 {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 0;
	}
	
	#cover {
		position: absolute;
		z-index: 2;
		width: 800px;
		height: 600px;
		background-image: url(../img/index/cover.png);
	}
	
	#play {
		position: absolute;
		z-index: 3;
		width: 80px;
		height: 80px;
		left: 360px;
		bottom: 110px;
		background-image: url(../img/src/play.png);
	}
	
	#play:hover {
		cursor: pointer;
		opacity: 0.7;
	}
	
	.agianWrap {
		position: absolute;
		z-index: 4;
		color: white;
		font-family: verdana;
		font-size: 20px;
		top: 300px;
		width: 800px;
		text-align: center;
	}
	
	#again {
		display: none;
	}